#nav {
    width: 79px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 0 15px 15px 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    left: 0; top: 0;
}

.road {
    display: none;
}

.predict {
    display: none;
}

.under_image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}

.on_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.sidebutton {
    position: relative;
    display: block;
    height: 100;
}

#date_selection {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}